<div id="foods">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.recipe_foods.find_by(recipe: @recipe).food_quantity %></td>
          <td>$<%= food.price * food.recipe_foods.find_by(recipe: @recipe).food_quantity %></td>
          <td><%= link_to "Delete", food, method: :delete, class: "delete-link" %> |  <%= link_to "Edit", edit_food_path(@food), class: "edit-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
