<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @foods.each do |food| %>
    <%= render food %>
    <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_units %> minutes</td>
        <td><%= food.price %> minutes</td>
        <td><%= link_to "Delete", food, method: :delete %>
      </tr>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to "New food", new_food_path %>
