<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <%= food.name %>
    <%= food.measurement_units %>
    <%= food.price %>

    <p>
    <%= button_to "Delete", food, method: :delete %> | <%= link_to "Show", food %>
    </p>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
