<p style="color: green"><%= notice %></p>

<p><strong>Name:</strong> <%= @food.name %></p>
<p><strong>Measurement Units:</strong> <%= @food.measurement_units %></p>
<p><strong>Price:</strong> <%= @food.price %></p>
<p><strong>Quantity:</strong> <%= @food.quantity %></p>
<p><strong>Public:</strong> <%= @food.public %></p>

<div>
  <%= link_to "Edit", edit_food_path(@food) %> |
  <%= link_to "Back", foods_path %> | <%= button_to "Delete", @food, method: :delete %>
</div>
